$bellefair: "Bellefair", serif;
$barlow: "Barlow Condensed", sans-serif;
$color-primary: hsl(230, 35%, 7%);
$color-secondary: hsl(231, 77%, 90%);
$color-white: hsl(0, 0%, 100%);
html {
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-family: sans-serif;
  background-color: $color-primary;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $color-secondary;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
}
.Heading {
  font-family: $bellefair;
  text-transform: uppercase;
  &-1 {
    font-size: 15rem;
    color: $color-white;
  }
  &-2 {
    font-size: 10rem;
  }
  &-3 {
    font-size: 5.6rem;
  }
  &-4 {
    font-size: 3.4rem;
  }
  &-5 {
    font-family: $barlow;
    font-size: 2.8rem;
    letter-spacing: 4.75px;
  }
}
.Subheading-1 {
  font-family: $bellefair;
  font-size: 2.8rem;
  text-transform: uppercase;
}
.Subheading-2 {
  font-family: $barlow;
  font-size: 1.4rem;
  letter-spacing: 2.35px;
  text-transform: uppercase;
}
.Nav-Text {
  font-family: $barlow;
  font-size: 1.6rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
