.home {
  height: 100vh;
  background-image: url(../public/assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 15rem;
}
